@font-face {
  font-family: 'Regular';
  src: local('ChakraPetch-Regular'),
    url('./fonts/ChakraPetch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bold-Italic';
  src: local('ChakraPetch-BoldItalic'),
    url('./fonts/ChakraPetch-BoldItalic.ttf') format(truetype);
}

@font-face {
  font-family: 'Dancing';
  src: local('DancingScript-Regular'),
    url('./fonts/DancingScript-Regular.ttf') format('truetype');
}

body {
  font-family: 'Regular';
  color: black;
  border: 5px solid rgb(228, 222, 222);
  border-radius: 20px;
  box-shadow: 10px 5px;
  border-top: none;
  margin: 10px;
  /* background-image: url('/assets/images/background/background-4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

.navbar {
  background-color: rgb(228, 222, 222);
  border: 5px solid rgb(228, 222, 222);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

a {
  text-decoration: none;
}

a > span {
  color: black;
  font-weight: bolder;
  transition: color 0.3s ease;
}

a > span:hover {
  color: white;
}

svg > path {
  color: rgb(150, 141, 141);
  transition: color 0.5s ease;
}

svg:hover path {
  color: black;
}

/* HOME SECTION */

/* SKILLS SECTION */
.skill {
  border-radius: 10px;
  background-color: rgba(228, 222, 222);
  padding: 10px;
  margin-right: 10px;
}

.languages ul {
  margin: 0px;
  padding: 0px;
}

.languages ul > li {
  list-style: none;
  background-color: rgba(228, 222, 222);
  margin: 0px;
  margin-bottom: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.certificate {
  border-radius: 10px;
  background-color: rgba(228, 222, 222);
  padding: 10px;
  transition: background-color ease 0.5s;
}

.certificate:hover {
  background-color: #5d656d;
  color: beige;
}

/* SKILLS SECTION */

/* PROJECT CARD */

/* PROJECT CARD */

/* PROJECTS SECTION */
.project {
  /* border: 10px solid rgba(228, 222, 222); */
  /* border-radius: 10px; */
}

.project:hover {
  cursor: pointer;
  border: 1.5px solid darkgray;
  background-color: rgba(97, 105, 97, 0.5);
}

.project-image:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .project-image,
  .project-title,
  .contact-title,
  .email-title {
    display: none;
  }
}

/* PROJECTS SECTION */
